div#login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
table#box {
    width: 400;
    height: 400;
    border: solid 1px gray;
    background-color: rgba( 255, 255, 255, 0.5 );
    background-o;
}
#login_button {
    padding: 40px 40px;
    background-image: url('table_background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
td#forget {
    text-align: center;
}
div#main {
    background-image: url('main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}